<web-app>
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>api.ApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
